.lambo{

    height: 100px;
    width: 100px;
    }
.bull{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 500px;
}


.r8{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 500px;
}
    .audii{
        height: 100px;
        width: 100px;
    }


.gt{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 500px;
}
            
    .bmw{
        height: 100px;
         width: 100px;
            }
            
.ferro{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 500px;
}
    
   .horse{
                width: 100px;
                height: 100px;
            }
            